.option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;

  &.selected {
    background-color: color-mix(
      in srgb,
      var(--color-mantine-primary) 10%,
      transparent
    );

    box-shadow:
      0 0 0 1px
        color-mix(in srgb, var(--color-mantine-primary) 40%, transparent),
      0 2px 4px
        color-mix(in srgb, var(--color-mantine-primary) 15%, transparent);
  }
}

.flag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 20px;
  line-height: 1;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
